.subtitle{
    font-size: clamp(0.75rem,  calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))), 1.125rem);
    font-weight: 400;
    color: var(--secondary-text);
    text-decoration: underline;
    text-align: left;
}