*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    color: var(--primary-text2);
    white-space: pre-line;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: url('../../public/bg_global.png');
}

:root{
    --primary-text: #293037;
    --primary-text2: #FFFFFF;
    --secondary-text: #C1844D;
    --secondary-text2: #B4B4B4;
}

.mainContainer{
    max-width: 1920px;
    padding: 
        0
        clamp(8px, calc(0px + (100 - 0) * ((100vw - 320px) / (1920 - 320))), 160px)
    ;
    margin: 0 auto;
    position: relative;
}