.HomePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(
        24px,
        calc(24px + (80 - 24) * ((100vw - 320px) / (1920 - 320))),
        80px
    );
}

.title_container{
    background: url('../../public/title_main/bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    width: 100%;
    padding: 
        clamp(
            16px,
            calc(16px + (80 - 16) * ((100vw - 320px) / (1920 - 320))),
            80px
        )

        clamp(
            16px,
            calc(16px + (152 - 16) * ((100vw - 320px) / (1920 - 320))),
            152px
        )
    ;
    height: clamp(
        200px,
        calc(200px + (800 - 200) * ((100vw - 320px) / (1920 - 320))),
        800px
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(
        8px,
        calc(8px + (40 - 8) * ((100vw - 320px) / (1920 - 320))),
        40px
    );
}

.subtitle{
    font-size: clamp(0.75rem,  calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))), 1.125rem);
    font-weight: 400;
    color: var(--primary-text2);
    text-decoration: underline;
}

.mainTitle{
    color: var(--primary-text2);
    font-weight: 600;
    font-size: clamp(
        1.25rem,
        calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320))),
        3.75rem
    );
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
}

.description{
    text-align: center;
    font-size: clamp(
        0.5625rem,
        calc(9px + (16 - 9) * ((100vw - 320px) / (1920 - 320))),
        1rem
    );
    font-weight: 300;
}