.footer {
	padding: 0
		clamp(
			16px,
			calc(16px + (150 - 16) * ((100vw - 320px) / (1920 - 320))),
			150px
		)
		clamp(
			16px,
			calc(16px + (42 - 16) * ((100vw - 320px) / (1920 - 320))),
			42px
		);
	margin-top: clamp(
		26px,
		calc(26px + (80 - 26) * ((100vw - 320px) / (1920 - 320))),
		80px
	);
	width: 100%;
}

.footer * {
	color: var(--primary-text);
}

.logo {
	height: auto;
	width: clamp(
		70px,
		calc(70px + (114 - 70) * ((100vw - 320px) / (1920 - 320))),
		114px
	);
}

.footer_inner {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background: none;
	flex-direction: column;
}

.categories_container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.category {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.category_title {
	font-size: clamp(
		0.75rem,
		calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320))),
		1rem
	);
	font-weight: 500;
}

.category_items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.categoryItem {
	font-size: clamp(
		0.625rem,
		calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320))),
		0.75rem
	);
}

.line_hr {
	width: 100%;
	height: 1px;
	background: var(--primary-text);
	margin: clamp(
			16px,
			calc(16px + (40 - 16) * ((100vw - 320px) / (1920 - 320))),
			40px
		)
		0;
}

.footer_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.bottom_text {
	font-size: clamp(
		0.5625rem,
		calc(9px + (14 - 9) * ((100vw - 320px) / (1920 - 320))),
		0.875rem
	);
	font-weight: 400;
	white-space: nowrap;
}

.bottom_text span {
	margin: 0 1rem;
	font-weight: 900;
	font-size: 1.5rem;
}

.heart_icon {
	margin: 0 5px;
}

.socials {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.footer_mobile {
	display: none;
}

@media (max-width: 1000px) {
	.footer_inner {
		display: none;
	}

	.footer_mobile {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		gap: 1.5rem;
	}

	.footerMob_inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.categories_container {
		flex-direction: column;
		gap: 1rem;
	}

	.category {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}

	.category_items {
		gap: 0.5rem;
	}

	.bottom_text {
		width: 100%;
		text-align: center;
		white-space: normal;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.bottom_text span {
		margin: 0 0.5rem;
		font-size: 1rem;
	}
}
